.setupContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wordSizeForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 14px;
}
