.mainContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 24px;
}

.mainForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
